
@{
    ViewBag.Title = "Achievements";
}

<h2>Achievements</h2>

<p>
    <img src="~/images/c2.jpg" style="float:left;">
    <ul>
        <li>Scholarships. </li>
        <li>Honor Roll inclusion for high grades.</li>
        <li>Awards won for specific activities or subjects (i.e., Most Valuable Player (MVP), Fine Art Award)</li>
        <li> Inclusion in student-related achievement publications (i.e., Who's Who in American High Schools) </li>
        <li>Perfect attendance awards.</li>
    </ul>
</p>

<br />
<br />
<br />
<br />
<p>
    “We are very grateful to the local Law community in Worcester, and the surrounding region, who have really embraced and welcomed us as we established the Law school, and have been such a tremendous support to our students, providing work placements, advice and guidance.”
</p>
<p>
    <img src="~/images/c2.jpg" style="float:left;">
    <ul>
        <li>Scholarships. </li>
        <li>Honor Roll inclusion for high grades.</li>
        <li>Awards won for specific activities or subjects (i.e., Most Valuable Player (MVP), Fine Art Award)</li>
        <li> Inclusion in student-related achievement publications (i.e., Who's Who in American High Schools) </li>
        <li>Perfect attendance awards.</li>
    </ul>
</p>

<br />
<br />
<br />
<br />
<p>“We are very grateful to the local Law community in Worcester, and the surrounding region, who have really embraced and welcomed us as we established the Law school, and have been such a tremendous support to our students, providing work placements, advice and guidance.”</p>
<br/>
<br/>
<br/>
<p><a class="btn btn-default" href="~/Home/Index">Back To Home Page</a></p>
