
@{
    ViewBag.Title = "ECECourseIV";
}

<h2>ECE Courses for IVth Year</h2>
<table border="1" height="100" width="100">

    <tr>
        <td>Course Code</td>
        <td>Course Name</td>
        <td>Credits</td>

    </tr>


    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>

    </tr>
    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>

    </tr>
    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>

    </tr>
</table>
<br />
<br />
<br />
<br />

<p><a class="btn btn-default" href="~/Home/Index">Back To Home Page</a></p>
