
@{
    ViewBag.Title = "ECEFaculty";
}

<h2>ECE Faculty Information</h2>

<table border="1" height="100" width="100">

    <tr>
        <td>Faculty Id</td>
        <td>Faculty Name</td>
        <td>Teaching Subjects</td>
        <td>Email Id</td>
        <td>Mobile Number</td>
    </tr>


    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td></td>
    </tr>
    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td></td>
    </tr>
    <tr>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td>1000000</td>
        <td></td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<p><a class="btn btn-default" href="~/Home/Index">Back To Home Page</a></p>

