
@{
    ViewBag.Title = "StudentLogin";
}

<h2>Student Login</h2>

<form action="~/Home/StudentLogin1" method="POST" >

    User Id  <input type="text"  name="uname" placeholder="Your username goes here" />
    <br/>
    <br/>
   
    Password<input type="password" name="password" placeholder="Your Password goes here" />
    <br/><br/>
    <input type="submit" value="Submit">
</form>

<br/>
<br/>

<p><a class="btn btn-default" href="~/Home/Index">Back To Home Page</a></p>
